*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3{
  font-size: 16.5px;
  padding: 15px 10px 5px;
}

p{
  font-size: 12.5px;
  padding: 0 10px 5px 10px;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 960px;
  display: flex;
  margin: 50px auto;
}


.main-box{
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  position: relative;
}

.main-box:last-child{
  margin-right: 0;
}

.main-image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 0 10px;
}

.main-image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 0 10px;
}

.main-image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  margin: 10px 10px 0 10px;
}

.main-section{
  width: 100%;
  margin: 0 10px;

}

.main-flow{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

/*課題問題：横並びになっているboxを768px以下で縦並びにする*/
@media screen and (max-width: 768px) {


 header{
   width: 100%;
 }

 main{
   width: 100%;
   display: block;
 }

 .main-box{
   width: 90%;
   margin: 20px auto;
 }

 .main-box:last-child{
   width: 90%;
   margin: 20px auto;
 }


 .main-section{
   width: 90%;
 }


  footer{
    width: 100%;
  }

}


